.item{
    border-right: 1px solid black;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding:0 5px;
}
.btn_detail{
    padding: 10px 20px;
    color: #fff;
    background-color: #0af712;
}
.btn_update{
    padding: 10px 20px;
    color: #fff;
    background-color: #f5e400;
}