.item{
    border-right: 1px solid black;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding:0 5px;
}
.btn_detail{
    background-color: #0af712;
}
.btn_update{
    background-color: #f7e70a;
}