.header{
    height: 100px;
    height: 100%;
}
.background_header{
    background-image: url('../../assets/imgs/background-headers.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}