.header{
    height: 90px;
}
.background_header{
    background-image: url('../../assets/imgs/background-headers.png');
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
}